{% set tax_title = term.name %}

{% extends 'layout.twig' %}

{% block feature %}
  <div id="feature" class="feature">
    {#<div class="feature-media parallax-window" data-parallax="scroll" data-image-src="{{ post.get_field('feature_banner').url }}" title="{{ post.get_field('feature_banner').title|replace({'-': ' ', '_': ' '}) }}"></div>#}
    <div class="container">
    
    {% if term.name is defined %}
      <h2 id="page-title">{{term.name}}</h2>
    {% endif %}
    
    {% include 'breadcrumb.twig' with {tax_title: tax_title} %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include ["taxonomy-"~term.id~".twig", "taxonomy-"~term.taxonomy~".twig", 'taxonomy-tease.twig'] with {term: term} %}
{% endblock %}
